:root {
  --textcollor: #fff;
  --textcollor2: #343434;
  --backgroundcollor1: gray;
  --backgroundcollor2: #343434;
  --backgroundcollor3: #4169e1;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 125%;
  color: var(--textcollor);
  background-color: var(--backgroundcollor1);
}

header {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  background-color: var(--backgroundcollor2);
  color: var(--textcollor);
}

header div {
  box-shadow: 4px 4px 5px rgba(243, 223, 223, 0.5);
  box-sizing:border-box ;
  width: 200px;
  height: 80px;
  padding-bottom: 40px;
}
header h1 {
  color: var(--textcollor);
  font-size: 30px;
  font-weight: bold;
  background-color: var(--backgroundcollor2);
  padding: 10px;
  border: 5px solid var(--backgroundcollor3);
}

header a{
  text-decoration: none;
  color: var(--textcollor);
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

header nav {
  margin: 20px;
}

header nav ul li a {
  padding: 8px;
  font-size: 28px;
  margin: 20px 20px 0 0;
  font-weight: bold;
}

header nav ul li a:hover {
  background: var(--backgroundcollor3);
  color: var(--backgroundcollor2);
  border-radius: 15px;
}

.hero {
  background-image: url(../images/Hero\ backgroud.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero img {
  height: 800px;
}

.hero .quote {
  font-size: 24px;
  font-style: italic;
  display: flex;
  justify-content: end;
  text-align: right;
  color: #c4c3d0;
  text-align: end;
}

