:root {
  --textcollor: #fff;
  --textcollor2: #343434;
  --backgroundcollor1: gray;
  --backgroundcollor2: #343434;
  --backgroundcollor3: #4169e1;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 125%;
  color: var(--textcollor);
  background-color: var(--backgroundcollor1);
}

header {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-family: monospace;
  padding: 20px;
  background-color: var(--backgroundcollor2);
  color: var(--textcollor);
}

header div {
  box-shadow: 4px 4px 5px rgba(243, 223, 223, 0.5);
  box-sizing:border-box ;
  width: 200px;
  height: 50px;
  padding-bottom: 40px;
}
header h1 {
  color: var(--textcollor);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  background-color: var(--backgroundcollor2);
  padding: 10px;
  border: 7px solid var(--backgroundcollor3);
}

header a{
  text-decoration: none;
  color: var(--textcollor);
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

header nav {
  margin: 20px;
}

header nav ul li a {
  padding: 8px;
  font-size: 28px;
  margin: 20px 20px 0 0;
  font-weight: bold;
  text-decoration: underline;
}

header nav ul li a:hover {
  background: var(--backgroundcollor3);
  color: var(--backgroundcollor2);
  border-radius: 20px;
}

.hero {
  background-image: url(../images/Hero\ backgroud.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero img {
  height: 800px;
}

.hero .quote {
  font-size: 24px;
  font-style: italic;
  display: flex;
  justify-content: end;
  text-align: right;
  padding-right: 20px;
  color: #c4c3d0;
  text-align: end;
}

.aside {
    border-right: 5px solid var(--backgroundcollor3);
    min-height: 100%;
    text-align: right;
    padding-right: 40px;
    padding-top: 10px;
    min-width: 20%;
    max-width: 20%;
    font-size: 48px;
    line-height: 0.6;
}

.about-me {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 30px;
  font-family: monospace;
}

.about-me p {
  font-size: 25px;
  padding: 30px;
  line-height: 1.8;
}

.portifolio {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--backgroundcollor2);
}

.portifolio h2 {
  color: var(--textcollor);
}

.projects-grid-wrapper {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
}

.projects-grid {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.project {
  border: solid;
  color: rgb(5, 4, 4);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.project:hover {
  opacity: 1.0;
}

.project1 {
  grid-column: 1/3;
  grid-row: span 2;
  background-image: url("../images/Horiseon\ project.PNG");
}

.project2 {
  background-image: url("../images/project\ 2.jpg");
  background-position: 50% 15%;
}

.project3 {
  background-image: url("../images/Project\ 33.jpg");
  background-position: 40% 100%;
}

.project4 {
  background-image: url("../images/project\ 4.jpg");
  background-position: 75% 50%;
}

.project5 {
  background-image: url("../images/project\ 5.jpg");
  background-position: 15% 10%;
}

.project-label {
  background-color: lightgray;;
  color: var(--primary);
  padding: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  bottom: 0;
  padding-top: 20px;
  }

footer img {
  height: 60px;
  width: 60px;

}

.content-wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

#social img {
  opacity: 50%;
}
#social:hover img {
  opacity:100%;
  transform: scale(1.1);  
}

@media screen and (max-width: 768px) {
  .hero .quote {
    font-size: 20px;
    padding-right: 20px;
  }

  .aside {
    font-size: 30px;
  }

  .about-me p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  footer img {
    height: 50px;
    width: 50px;
  }
}

@media screen and (max-width: 575px) {
  header {
    justify-content: center;
    padding: 20px;
  }

  header nav ul {
    min-height: 80px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero img {
    width: 400px;
    height: 400px;
  }

  .hero .quote {
    font-size: 20px;
  }

  .portifolio {
    border-right: none;
    text-align: center;
    min-width: 100%;
    max-width: 100%;
    padding: 0;
  }
  .about-me p {
    font-size: 12px;
    line-height: 1.6;
    width: 100%;
    padding: 10px;
  }
  
  .aside {
    font-size: 15px;
  }

  .projects-grid-wrapper {
    width: 100%;
    padding: 10px;
  }

  .projects-grid {
    width: 90%;
  }

  footer img {
    height: 30px;
    width: 30px;
  }

  .content-wrapper {
    width: 80%;
    gap: 15px;
  }

}